{% extends "blog.html" %}
{% block feed %}
    <link rel="alternate" type="application/rss+xml" title="Posts by {{ this.category }} | Tor Project blog" href="{{ ('/@atom/' + this.category)|url }}" />
{% endblock %}
{% block title %}Posts in category '{{ this.category }}' | The Tor Project{% endblock %}
{% block page_heading %}<h1 class="title index-title">Posts in category <strong>{{ this.category }}</strong></h1>{% endblock %}
